name: Maven Deploy Snapshots

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 24
        uses: actions/setup-java@v3
        with:
          java-version: '24'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn --update-snapshots deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}
